root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{c,h,bat}]
end_of_line = crlf

[*.md]
charset = utf-8
end_of_line = lf

[.gitattributes]
end_of_line = lf

[.gitignore]
end_of_line = lf

[.editorconfig]
end_of_line = lf
